.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.Container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  border-color: #183b56;
  border-width: 2px;
  background-color: lightblue;
  width: 300px;
  text-align: center;
}

.list-container {
  list-style-type: none;
  padding: 0;
}

.title {
  font-family: 'Roboto';
  font-size: 32px;
  color: #183b56;
  margin-bottom: 30px;
}
